@import 'reset';
@import 'toggle';

$extension-width: 400px;
$extension-height: 600px;
$player-color: #FFF;
$link-color: #2196F3;

body {
    width: $extension-width;
    //height: $extension-height;
    background-color: #EBEBEB;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0 0 16px 0;
    padding: 10px;
    color: white;
    background-color: #365E80;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.12);
    .title {
        font-size: 1.3em;
        margin: 10px;
    }
}

.search-container {
    margin: 14px 5px;
}

.players-container {
    margin-top: 10px;
    .player {
        position: relative;
        margin: 5px 5px 10px 5px;
        background-color: $player-color;
        padding: 10px 16px;
        border-radius: 4px;
        border: 0.5px solid rgba(0, 0, 0, 0.12);
        box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.11);
        p {
            padding: 10px 0;
        }
        .name-container {
            padding: 3px 0;
            margin: 3px 0;
            position: relative;
            .player-name {
                display: inline-block;
                text-decoration: none;
                font-weight: bold;
                color: $link-color;

            }
            .player-team {
                display: inline-block;
                font-size: 0.8em;
                padding-left: 15px;

            }
            .player-order-container {
                display: inline-block;
                width: 90px;
                .player-order {
                    padding: 7px;
                    background-color: #6D6D6D;
                    color: #FFF;
                    border-radius: 3px;
                    margin-right: 12px;

                }
            }
        }
        .game-time {
            margin-top: 10px;
        }
        .game-status {
            padding: 3px 0;
            font-size: 0.9em;
            color: #6B6B6B;
        }
        .toggle-container {
            padding: 10px 0;
            .toggle {
                box-sizing: border-box;
                height: 30px;
                width: $extension-width / 3.5;
                margin: 0 2px;
                border: 2px solid rgba(255, 255, 255, 0.2);
                border-radius: 3px;
                color: #FFF;
                background-color: #D32F2F;
                cursor: pointer;
                &:hover {
                    border: 2px solid rgba(0, 0, 0, 0.2);
                }
            }

            .toggle-active {
                color: #000;
                background-color: #69F0AE;
            }
        }
        .remove {
            display: inline-block;
            position: absolute;
            color: #424242;
            padding: 3px;
            top: 4px;
            right: 5px;
            cursor: pointer;
            &:hover {
                background-color: #EBEBEB;
            }

        }
    }
}

.team {
    display: inline-block;
    width: 50px;
    color: red;
}

